* {
  padding: 0;
  margin: 0;
}
body {
  background: #020916;
}

section h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}
.container {
  max-width: 1100px;
  margin: auto 200px;
  color: #fff !important;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-page-aligment {
  display: flex;
  align-items: center;
}

.featured {
  background-color: red;
  height: 400px;
}

.search-input-holder {
  width: 300px;
}
.ant-input-affix-wrapper {
  border-radius: 50px;
}

.contentStyle {
  height: 400px;
  color: #fff;
  line-height: 400px;
  background: #364d79;
}

.overlay-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2, 9, 22);
  background: linear-gradient(
    0deg,
    rgba(2, 9, 22, 1) 0%,
    rgba(2, 9, 22, 0.6814075972185749) 33%,
    rgba(2, 9, 22, 0.2836484935771183) 100%
  );
}

.image-style {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.horizontal-holder {
  overflow: scroll;
  display: flex;
  grid-gap: 30px;
  overflow-y: hidden;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.ant-card-bordered {
  border: 1px solid #707070;
  border-radius: 5px;
}

.ant-card-body {
  padding: 5px;
  text-align: center;
  background: #151f2e !important;
  color: #fff;
  height: 50px;
}

.ant-card-meta-title {
  color: #fff;
}

.ant-card {
  background: #151f2e !important;
  border: 1px solid #020916;
  padding: 2px;
  border-radius: 10px;
}

.ant-card-bordered {
  border: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f00;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.ant-card-cover img {
  border-radius: 10px 10px 0 0;
}

.featured-image-thumbnail {
  margin: 20px;
  border: 1px solid #fff;
}
.movie-desc {
  font-size: medium;
  line-height: 1.5;
}

.shallow-card {
  width: 175px;
  display: inline-table;
}

.movie-title h1 {
  font-size: 48px !important;
  margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
  .container {
    margin: auto 50px;
    color: #fff !important;
  }

  .shallow-card {
    width: 25px;
    display: inline-table;
  }

  .single-page-content {
    margin: auto 50px !important;
  }
}


.movie-title {
  color: #fff;
  max-width: 500px;
}

.cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(2, 9, 22);
  background: linear-gradient(
    0deg,
    rgba(2, 9, 22, 1) 0%,
    rgba(2, 9, 22, 0.3) 30%,
    rgba(2, 9, 22, 0.25) 50%,
    rgba(2, 9, 22, 0.3) 70%,
    rgba(2, 9, 22, 1) 100%
  );
}

.single-page-content {
  max-height: 200px;
  background-color: #02091666;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #fff;
}
.single-page-content img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.single-page-content .ant-typography {
  color: #fff !important;
}



@media screen and (max-width: 650px) {
  .container {
    margin: auto 35px;
    color: #fff !important;
  }

  #top-rated {
    padding-top: 75px;
  }
  .shallow-card {
    width: 0px;
    display: inline-table;
  }

  .movie-title {
    width: auto !important;
  }

  .movie-title h1 {
    font-size: 48px !important;
    margin-bottom: 0;
  }

  .movie-title b {
    font-size: 25px !important;
  }

  .movie-title div {
    padding-top: 25px !important;
  }
  .movie-desc {
    display: none;
  }

  .overlay-style {
    justify-content: center;
    align-items: center;
    display: flex;

    background: rgb(2, 9, 22);
    background: linear-gradient(
      0deg,
      rgba(2, 9, 22, 1) 0%,
      rgba(2, 9, 22, 0.24723392775078779) 54%,
      rgba(2, 9, 22, 0.29485297536983546) 100%
    );
  }

  .featured-image-thumbnail {
    display: none !important;
  }

  .image-style {
    height: 500px;
  }

  .single-page-content div img {
    display: none;
  }

  .single-page-content {
    min-height: auto !important;
    padding: 15px;
    margin: 0px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: #fff;
  }

  .single-page-image-holder {
    display: none !important;
  }

  .single-page-aligment {
    
    align-items: 'baseline' !important;
  }
}